@{
    ViewData["Title"] = "Add/Edit Task";
}

@model Mission8_2_5.Models.Task



<div class="text-center">
    <h1 class="display-4">Add a task:</h1>
</div>

<div>
    <form method="post">

        <label asp-for="task">Task:</label>
        <input asp-for="task" /><br />

        <label asp-for="dueDate">Due Date:</label>
        <input asp-for="dueDate" /><br />

        <label asp-for="quadrant">Quadrant:</label>
        <input asp-for="quadrant" /><br />


        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (Category m in ViewBag.Categories)
            {
                <option value="@m.CategoryId">@m.categoryName</option>

            }
        </select><br />

        <label asp-for="completed">Completed:</label>
        <select asp-for="completed">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br />

        <button type="submit">Submit</button>

    </form>
</div>